<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Charmander I choose you!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="//db.onlinewebfonts.com/c/a222402127a0453c817a6cf4c3d9810b?family=Pokemon" rel="stylesheet" type="text/css">

    </head>

    <style type="text/css">

    	h1{
    		font-family: "Pokemon";
    	}

    	div{
    		height: 200px;
    		width: 200px;
    		margin-left: 590px;
    	}

    </style>

    <body>
        <!-- List of uploaded documents -->
        <h1 class = "text-center" font-family = "Pokemon">You choosed:</h1>
        <h2 class = "text-center">Charmander (004)</h2>
        <div>
        	<img src = "{{ MEDIA_URL }}/Charmander.png" class="img-responsive center-block">
        </div>
        <h4 class = "text-center" style="color:black">Description:</h4> 
        <p class = "text-center">The flame that burns at the tip of its tail is an indication of its emotions.</p> 
        <p class = "text-center">The flame wavers when Charmander is enjoying itself.</p> 
        <p class = "text-center">If the Pokémon becomes enraged, the flame burns fiercely.</p>
        <h4 class = "text-center" style="color:black">Height:</h4>
        <p class = "text-center">0,6m</p>
        <h4 class = "text-center" style="color:black">Weight:</h4>
        <p class = "text-center">8,5kg</p>
        <h4 class = "text-center" style="color:black">Type:</h4>
        <p class = "text-center" style="color:red">Fire</p>
    </body>

</html>
